.sidebar {
  width: 300px;
  height: 100vh;
  transition: all 0.3s ease;
  z-index: 1000;
}

.sidebar-header {
  white-space: nowrap;
  overflow: hidden;
  opacity: 1;
  margin-left: 0.75rem;
  max-width: 200px;
  transition: opacity 0.3s ease, margin 0.3s ease, max-width 0.3s ease;
}

.sidebar-header img {
  width: 50px;
  height: auto;
  object-fit: contain;
  transition: all 0.3 ease;
}

.sidebar .sidebar-text {
  white-space: nowrap;
  overflow: hidden;
  opacity: 1;
  margin-left: 0.75rem;
  max-width: 200px;
  display: inline-block;
  transition: opacity 0.3s ease, margin 0.3s ease, max-width 0.3s ease;
}

.main-content {
  margin-left: 300px;
  transition: all 0.3s ease;
}

/* Sidebar collapsed */
.sidebar.collapsed {
  width: 90px;
}

.sidebar.collapsed .sidebar-header h4 {
  white-space: nowrap;
  overflow: hidden;
}

.sidebar.collapsed ~ .main-content {
  margin-left: 90px;
}

.notransition {
  transition: none !important;
}

.search-box {
  width: 400px;
}


.search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #6c757d;
  font-size: 1.2rem;
  pointer-events: none; 
}

.search-box input {
  padding-left: 2.5rem;
}

.main-navbar {
  left: 0;
  top: 0;
  z-index: 900;
  margin-left: 300px;
  width: calc(100% - 300px);
  transition: all 0.3s ease;
}

.main-content .container-fluid {
  margin-top: 5rem;
}

#wrapper.collapsed .main-navbar {
  margin-left: 90px;
  width: calc(100% - 90px);
}

.welcome-text {
  padding: 20px 150px 20px 20px;
  transition: width 0.3s ease;
  width: 39rem;
}

#wrapper.collapsed .welcome-text {
  transition: width 0.3s ease;
  width: 52.1rem;
}